# Reaktor Server ignore
Reaktor/.idea
Reaktor/target
Reaktor/.settings
Reaktor/.classpath
Reaktor/.project

# Reaktor Client ignore
ReaktorClient/.idea
ReaktorClient/target
ReaktorClient/.settings
ReaktorClient/.classpath
ReaktorClient/.project

# Model ignore
Models/.idea
Models/target
Models/.settings
Models/.classpath
Models/.project

# web ignore
reaktorweb/node_modules
reaktorweb/.angular

# Project ignore
target
.idea

# Parent ignore
Parent/.project

# deploy jar ignore
deploy/server/Reaktor-0.0.1-SNAPSHOT-jar-with-dependencies.jar
deploy/client/ReaktorClient-jar-with-dependencies.jar