.myTable {
  width: 100%;
  border-collapse: collapse;
}

.myTable th,
.myTable td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.myTable th {
  background-color: #f2f2f2;
  color: #333;
}

.myTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.myTable tr:hover {
  background-color: #f5f5f5;
}

.myTable td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.myTable td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media (max-width: 768px) {
  .myTable thead {
    display: none;
  }

  .myTable td {
    display: block;
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  .myTable td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-right: 10px;
    font-weight: bold;
    text-align: left;
  }

}


.back-button {
  background-color: #3366FF;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #264CFF;
}


.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
