<div class="title-container">
  <h2 class="computer">DETAIL</h2>
  <a href="/" class="back-button">Volver a la página principal</a>
</div>


<h3>COMPUTER DATA</h3>
<table class="myTable">
  <thead>
  <tr>
    <th>Computer Number</th>
    <th>Computer S/N</th>
    <th>Model</th>
    <th>Andalucia Id</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.computer?.motherboardDTO!.computerNumber}}</td>
      <td>{{this.computer?.motherboardDTO!.computerSerialNumber}}</td>
      <td>{{this.computer?.motherboardDTO!.model}}</td>
      <td>{{this.computer?.motherboardDTO!.andaluciaId}}</td>
    </tr>
  </tbody>
</table>

<h3>LOCATION</h3>
<table class="myTable">
  <thead>
  <tr>
    <th>Classroom</th>
    <th>Trolley</th>
    <th>Teacher</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.computer?.motherboardDTO!.classroom}}</td>
      <td>{{this.computer?.motherboardDTO!.trolley}}</td>
      <td>{{this.computer?.motherboardDTO!.teacher}}</td>
    </tr>
  </tbody>
</table>

<h3>MOTHERBOARD</h3>

<table class="myTable">
  <thead>
  <tr>
    <th>Motherboard S/N</th>
    <th>Classroom</th>
    <th>Trolley</th>
    <th>Model</th>
    <th>Computer Number</th>
    <th>Andalucia Id</th>
    <th>Teacher</th>
    <th>Computer S/N</th>
    <th>Last Connection</th>
    <th>Last Update</th>
    <th>Computer On</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.computer?.motherboardDTO!.motherBoardSerialNumber}}</td>
      <td>{{this.computer?.motherboardDTO!.classroom}}</td>
      <td>{{this.computer?.motherboardDTO!.trolley}}</td>
      <td>{{this.computer?.motherboardDTO!.model}}</td>
      <td>{{this.computer?.motherboardDTO!.computerNumber}}</td>
      <td>{{this.computer?.motherboardDTO!.andaluciaId}}</td>
      <td>{{this.computer?.motherboardDTO!.teacher}}</td>
      <td>{{this.computer?.motherboardDTO!.computerSerialNumber}}</td>
      <td>{{this.computer?.motherboardDTO!.lastConnection}}</td>
      <td>{{this.computer?.motherboardDTO!.lastUpdateComputerOn}}</td>
      <td>{{this.computer?.motherboardDTO!.computerOn}}</td>
    </tr>
  </tbody>
</table>

<div style="display: flex; justify-content: space-between;">
  <h3 style="margin-top: 20px; width: 25%; float: left">MALWARE</h3>
  <h3 style="margin-top: 20px; width: 73%; float: right">RAM</h3>
</div>

<div style="display: flex; justify-content: space-between;">
  <!-- MALWARE -->
  <table class="myTable" style="width: 23%; float: left">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let malware of this.computer?.malwareDTO!">
      <td>{{malware.name}}</td>
      <td>{{malware.description}}</td>
    </tr>
    </tbody>
  </table>

  <!-- RAM -->
  <table class="myTable" style="width: 73%; float: right">
    <thead>
    <tr>
      <th>Size</th>
      <th>Occupied Slot</th>
      <th>Model</th>
      <th>Type</th>
      <th>Speed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ram of this.computer?.ramDTO!">
      <td>{{ram.size}}</td>
      <td>{{ram.occupiedSlots}}</td>
      <td>{{ram.model}}</td>
      <td>{{ram.type}}</td>
      <td>{{ram.speed}}</td>
    </tr>
    </tbody>
  </table>
</div>

<h3>CPU</h3>
<div style="display: flex; justify-content: space-between;">
  <!-- CPU -->
  <table class="myTable" style=" float: left">
    <thead>
    <tr>
      <th>Cores</th>
      <th>Frequency</th>
      <th>Threads</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{this.computer?.cpuDTO!.cores}}</td>
      <td>{{this.computer?.cpuDTO!.frequency}}</td>
      <td>{{this.computer?.cpuDTO!.threads}}</td>
    </tr>
    </tbody>
  </table>
</div>

<h3>GRAPHIC CARD</h3>
<div style="display: flex; justify-content: space-between;">
  <!-- graphicCard -->
  <table class="myTable" style=" float: left">
    <thead>
    <tr>
      <th>Model</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let graphicCard of this.computer?.graphicCardDTO!">
      <td>{{graphicCard.model}}</td>
    </tr>
    </tbody>
  </table>
</div>


<h3>HARD DISK</h3>
<div style="display: flex; justify-content: space-between;">
  <!-- hard disk -->
  <table class="myTable" style=" float: left">
    <thead>
    <tr>
      <th>Size</th>
      <th>Model</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hardDisk of this.computer?.hardDiskDTO!">
      <td>{{hardDisk.size}}</td>
      <td>{{hardDisk.model}}</td>
    </tr>
    </tbody>
  </table>
</div>

<h3>NETWORK CARD</h3>
<div style="display: flex; justify-content: space-between;">
  <!-- MALWARE -->
  <table class="myTable" style=" float: left">
    <thead>
    <tr>
      <th>Mac Address</th>
      <th>Rj 45</th>
      <th>Model</th>
      <th>Wireless</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let networkCard of this.computer?.networkCardDTO!">
      <td>{{networkCard.macAddress}}</td>
      <td>{{networkCard.rj45IsConnected}}</td>
      <td>{{networkCard.model}}</td>
      <td>{{networkCard.isWireless}}</td>
    </tr>
    </tbody>
  </table>
</div>

<h3>PARTITION</h3>
<div style="display: flex; justify-content: space-between;">
  <!-- MALWARE -->
  <table class="myTable" style=" float: left">
    <thead>
    <tr>
      <th>Size</th>
      <th>Letter</th>
      <th>Operating System</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let partition of this.computer?.partitionDTO!">
      <td>{{partition.size}}</td>
      <td>{{partition.letter}}</td>
      <td>{{partition.operatingSystem}}</td>
    </tr>
    </tbody>
  </table>
</div>

<h3>SOUND CARD</h3>
<div style="display: flex; justify-content: space-between;">
  <!-- MALWARE -->
  <table class="myTable" style=" float: left">
    <thead>
    <tr>
      <th>Model</th>
      <th>Driver</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let soundCard of this.computer?.soundCardDTO!">
      <td>{{soundCard.model}}</td>
      <td>{{soundCard.driver}}</td>
    </tr>
    </tbody>
  </table>
</div>
