<div class="card">
  <div class="card-header" [ngStyle]="getStyle()">
    <img src="{{ logoUrl }}" class="logo" alt="Logo" height="30">
    <button class="btn btn-primary" (click)="goToDetails()">View Details</button>
  </div>
  <div class="card-body">
    <div class="card-title">
      <h5>Malware count: {{ simpleComputer.malwareCount }}</h5>
      <h5 *ngIf="simpleComputer.isAdmin">ADMINISTRADOR</h5>
    </div>
    <div class="card-text">
      <h5 *ngIf="!simpleComputer.isAdmin">
        <p>Location: {{ simpleComputer.location }}</p>
        <p>Computer Number: {{ simpleComputer.computerNumber }}</p>
      </h5>
      <h5 *ngIf="simpleComputer.isAdmin">
        <p>Location: {{ simpleComputer.location }}</p>
        <p>Teacher: {{ simpleComputer.responsable }}</p>
        <p>Computer Number: {{ simpleComputer.computerNumber }}</p>
      </h5>
    </div>
  </div>
</div>

